<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %><br />
  <b>Product ID:</b>
  <%= @gallery.product_id %>
</p>

<ul id="paintings">
<% @gallery.paintings.each do |painting| %>
  <% if !painting.new_record? %>
  <li><%= link_to image_tag(painting.picture.url(:thumb)), painting_path(painting) %></li>
  <% end %>
<% end %>
</ul>

<%= form_for @painting, :html => { :multipart => true }  do |f| %>
  <%= f.hidden_field :gallery_id %>

  <%= f.label :author %>:
  <%= f.text_field :author %><br />

  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :picture %>:
  <%= f.file_field :picture %><br />

  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
